@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,700');
@font-face {
	font-family: 'Gotham';
	src: url('Gotham/GothamPro-Light.ttf');
}
body {
    font-family: 'Montserrat', sans-serif;
}
* {
    margin: 0;
    padding: 0;
}
.container {
    width: 1366px;
    margin: 0 auto;
}
.header {
    height: 800px;
    background-image: url(img/slider-img.jpg);
}
.header .logo,
.prodheader .logo
{
    margin-left: 98px;
    margin-top: 63px;
}
.menu {
    float: right;
    margin-right: 211px;
    margin-top: 67px;
}
.menu li {
    float:left;
    list-style-type: none;
}
.menu li a {
    font-family: Montserrat;
    color:  #8c8c8c;
    font-size: 14px;/* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 48px;/* Приближение из-за подстановки шрифтов */
    text-align: right;
    text-decoration: none;
    display:block;
    padding: 0 20px;
}
.menu li a:hover {
    color:  #212121;
    font-weight: 700;
    border-bottom: 1px solid black;
}
.dots {
    display: inline-block;
    justify-content: center;
    height: 40px;
    margin-top: 40px;
    text-decoration: none;
    margin-left: 620px;
}
.dots a {
    display: block;
    float: left;
    width: 30px;
    height: 30px;
    border-radius: 50%; /* Закругление квадратного блока */
    background-color: #c7c7c7;
    margin: 10px;
    text-decoration: none;
}
.dots a:hover {
    width: 40px;
    height: 40px;
    background-color: #212121;
    margin: 5px;
    transition: 0.2s linear; /* плавное измение */
}
.text {
    width: 458px;
    margin-top: 288px;
    margin-left: 98px;
}
.text h3 {
   color:  #43a047;
    font-size: 18px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 48px;/* Приближение из-за подстановки шрифтов */
    text-align: left;
    margin-bottom: 22px;
}
.text h1 {
    color:  #212121;
    font-size: 62px;/* Приближение из-за подстановки шрифтов */
    font-weight: 100;
    line-height: 72px;/* Приближение из-за подстановки шрифтов */
    text-align: left;
    margin-bottom: 34px;
}
.text p {
    color:  #6c6c6c;
    font-size: 14px;/* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 24px;/* Приближение из-за подстановки шрифтов */
    text-align: left;
    margin-bottom: 32px;
}
.text a {
    display: block;
    background:  #ffffff;
    box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
    width: 212px;
    height: 45px;
    text-decoration: none;
    border-radius: 22px;
    text-align: center;
    line-height: 45px;
    color:  #212121;
    font-size: 18px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
}
.text a:hover {
     background:  #ffffff url('img/arrow.png') no-repeat 173px 16px;
}
.catalog {
    position: relative;
    height: 610px;
}
.FeaturedNew {
    position: absolute;
    margin-top: 120px;
    margin-left: 107px;
}
.FeaturedNew .F {
    padding-right: 16px;
}
.FeaturedNew .N {
    padding-left: 15px;
}
.FeaturedNew .N,
.FeaturedNew .F
{
    color:  #6c6c6c;
    font-size: 36px;
    font-weight: 700;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    float:left;
    border-bottom: 3px solid #6c6c6c;    
}
.FeaturedNew a:hover {
    color:  #212121;
    font-size: 36px;
    font-weight: 700;
    text-align: left;
    border-bottom: 5px solid #6c6c6c;
}
.explore {
    position: absolute;
    float:right;
    margin-left: 1090px;
    margin-top: 138px;
    width: 151px;
}
.explore a {
    text-decoration: none;
    color:  #212121;
    font-size: 18px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 24px;/* Приближение из-за подстановки шрифтов */
    text-align: center;
}
.explore:hover {
    background: url(img/exploreArrow.png) no-repeat 142px 5px;
}
.product {
    display: inline-block;
    margin-right: 30px;
    opacity: 1;
}    
.product1 {
    margin-top: 219px;
    margin-left: 98px;
    position: relative;
}
.product .round {
    border-radius: 50%;
    box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
    width: 48px;
    height: 48px;
    margin-left: 111px;
    margin-top: 62px;
    background: #ffffff url(img/arrow1.png) no-repeat 18px 14px;
}
.buy h3 {
    color:  #212121;
    font-size: 21.91px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 30px;/* Приближение из-за подстановки шрифтов */
    text-align: center;
    transform: scaleX(1.0041);    
    margin-top: 19px;
}
.buy p {
    color:  #6c6c6c;
    font-size: 13.94px;/* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 22px;/* Приближение из-за подстановки шрифтов */
    text-align: center;
    transform: scaleX(1.0041);
    margin-top: 23px;
    margin-left: 32px;
    width: 206px;
}
.buy {
    position: absolute;
    height: 270px;
    width: 270px;
    display: none;   
}

.product:hover img[alt="prod1"],
.product:hover img[alt="prod2"],
.product:hover img[alt="prod3"],
.product:hover img[alt="prod4"] {
    opacity: 0.3;
}
.product:hover .buy {
    display: block;
    z-index: 1;
}
.exclusive {
    height: 683px;
    display: inline-block;
}
.excl1 {
    width: 683px;
    float: left;
    background-image: url(img/promo-img1.jpg);
    
}
.excl2 {
    width: 683px;
    float:right;
    background-image: url(img/promo-img.jpg);
    
}
.txtexcl {
    margin-top: 228px;
    margin-left: 51px;
}
.txtexcl h3 {
    color:  #1e88e5;
    font-size: 18px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 48px;/* Приближение из-за подстановки шрифтов */
    text-align: left;
}
.txtexcl h1 {
    color:  #212121;
    font-size: 36px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    text-align: left;
    margin-bottom: 10px;
}
.txtexcl p {
    width: 374px;
    color:  #6c6c6c;
    font-size: 13.99px;/* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 24px;/* Приближение из-за подстановки шрифтов */
    text-align: left;
    transform: scaleY(1.0022);
}
.txtexcl a {
    display: block;
    margin-top: 20px;
    background:  #ffffff;
    box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
    width: 212px;
    height: 45px;
    text-decoration: none;
    border-radius: 22px;
    text-align: center;
    line-height: 45px;
    color:  #212121;
    font-size: 18px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
}
.txtexcl a:hover {
     background:  #ffffff url('img/arrow.png') no-repeat 173px 16px;
}
.trendprod {
    height: 1108px;
}
.trendprod h1 {
    float: left;
    margin-left: 98px;
    margin-top: 119px;
    color:  #212121;
    font-size: 36px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    text-align: left;
    margin-right: 661px;
    margin-bottom: 64px;
}
.trendprod h3 a{
    text-decoration: none;
    margin-top: 137px;
    float: right;
    margin-right: 97px;
    color:  #212121;
    font-size: 18px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 24px;/* Приближение из-за подстановки шрифтов */
    text-align: left;
    width: 151px;
}
.trendprod h3 a:hover {
   background: url(img/exploreArrow.png) no-repeat 142px 5px;
}
.trendprod .trend {
    display: inline-block;
    margin-right: 30px;
    margin-bottom: 30px;
}
.trendprod .one,
.trendprod .four{
    padding-left: 98px;
}
.hot {
    height: 800px;
    background-image: url(img/slider.jpg);
}
.hot h4 {
    margin-left: 99px;
    padding-top: 287px;
    color:  #e53935;
    font-size: 18px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 48px;/* Приближение из-за подстановки шрифтов */
    text-align: left;
}
.hot h1 {
    margin-left: 106px;
    margin-top: 7px;
    color:  #212121;
    font-size: 62px;/* Приближение из-за подстановки шрифтов */
    font-weight: 100;
    line-height: 72px;/* Приближение из-за подстановки шрифтов */
    text-align: left;
}
.hot p {
    width:470px;
    margin-left: 98px;
    color:  #6c6c6c;
    font-size: 14px;/* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 24px;/* Приближение из-за подстановки шрифтов */
    text-align: left;
}

.hot .dots {
    display: inline-block;
    justify-content: center;
    height: 40px;
    margin-top: 200px;
    text-decoration: none;
    margin-left: 620px;
}     
.hot .dots a {
    display: block;
    float: left;
    width: 30px;
    height: 30px;
    border-radius: 50%; 
    background-color: #c7c7c7;
    margin: 10px;
    text-decoration: none;
}
.hot .dots a:hover {
    width: 40px;
    height: 40px;
    background-color: #212121;
    margin: 5px;
    transition: 0.2s linear; 
}
.hot .order {
    margin-top: 32px;
    margin-left: 98px;
    display: block;
    margin-top: 20px;
    background:  #ffffff;
    box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
    width: 212px;
    height: 45px;
    text-decoration: none;
    border-radius: 22px;
    text-align: center;
    line-height: 45px;
    color:  #212121;
    font-size: 18px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
}
.hot .order:hover {
    background:  #ffffff url('img/arrow.png') no-repeat 173px 16px;
}
.other {
    height: 810px;
    position: relative;
}
.other .one {
    position:absolute;
    margin-top: 120px;
    margin-left: 98px;
    width: 570px;
    height: 570px;
    background-image: url(img/product-1-lg.jpg);
}
.other .one h4 {
    margin-left: 31px;
    margin-top: 186px;
    color:  #1e88e5;
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
}
.other .one h1 {
    margin-left: 32px;
    color:  #212121;
    font-size: 36px;
    font-weight: 700;
    text-align: left;
}
.other .one p {
    width: 340px;
    color:  #6c6c6c;
    font-size: 13.99px;
    font-weight: 300;
    line-height: 24px;
    text-align: left;
    transform: scaleY(1.0022);
    margin-left: 30px;
}
.other .one a {
    display: block;
    margin-top: 34px;
    margin-left: 30px;
    background:  #ffffff;
    box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
    width: 212px;
    height: 45px;
    text-decoration: none;
    border-radius: 22px;
    text-align: center;
    line-height: 45px;
    color:  #212121;
    font-size: 18px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
}
.other .one a:hover {
    background:  #ffffff url('img/arrow.png') no-repeat 173px 16px;
}
.other .two {
    position: absolute;
    margin-left: 698px;
    margin-top: 120px;
}
.other .three {
    position: absolute;
    margin-left: 998px;
    margin-top: 120px;
}
.other .four {
    position: absolute;
    margin-top: 420px;
    margin-left: 698px;
}
.other .five {
    position: absolute;
    margin-top: 420px;
    margin-left: 998px;
}
.prefooter {
    height: 516px;
    background-image: url(img/back-img.jpg);
}
.prefooter h4 {
    padding-top: 125px;
    margin-left: 99px;
    color:  #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
}
.prefooter h1 {
    margin-left: 106px;
    width: 500px;
    color:  #212121;
    font-size: 62px;/* Приближение из-за подстановки шрифтов */
    font-weight: 100;
    line-height: 72px;/* Приближение из-за подстановки шрифтов */
    text-align: left;
}
.prefooter p {
    margin-left: 99px;
    color:  #6c6c6c;
    font-size: 22px;/* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 24px;/* Приближение из-за подстановки шрифтов */
    text-align: left;
    margin-bottom: 10px;
}
.prefooter a img[alt='app-store'] {
    margin-left: 98px;
}
.footer {
    height: 384px;
    background-color: #f7f7f7;
}
.footer h4 {
    color:  #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
}
.footer .contact p {
    margin-top: 24px;
    color:  #212121;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    text-align: left;
}
.footer .contact {
    width: 230px;
    padding-top: 120px;
    margin-left: 99px;
    float: left;
}
.footer .info {
    margin-left: 80px;
    padding-top: 120px;
    float:left;
    width: 425px;
}
.footer .info ul {
    margin-top: 25px;
    list-style-position: inside;
    -moz-column-count: 2; /* Firefox */
    -webkit-column-count: 2; /* Safari and Chrome */
    column-count: 2;
    list-style-type: decimal;
    height: 100px;
}
.footer .info li{
    list-style-type: none;
}
.footer .info li a {
    text-decoration: none;
    color:  #212121;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    text-align: left;
}
.footer .subscribe {
    margin-left: 78px;
    padding-top: 120px;
    width: 390px;
    float: left;
}
.footer .subscribe p {
    color:  #212121;
    font-size: 14px;/* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 22px;/* Приближение из-за подстановки шрифтов */
    text-align: left;
    margin-top: 24px;
    margin-bottom: 26px;
}
.footer .subscribe input[type='email'] {
    width: 317px;
    height: 50px;
    padding-left: 20px;
    border-width: 1px;
    border-color:  #d9dee1;
    border-style: solid;
    background-color:  #ffffff;
    border-right-style: none;
    float: left;
}
.footer .subscribe input[type='button'] {
    width: 50px;
    height: 52px;
    border-width: 1px;
    border-color:  #d9dee1;
    border-style: solid;
    border-left-style: none;
    background-color:  #ffffff;
    background-image: url(img/plane.png);
    background-repeat: no-repeat;
    background-position: center;
}    
.footer .subscribe input[type='email']::placeholder {
    color:  #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    text-align: left;
}

.footer .copyright {
    margin-top: 35px;
    margin-left: 98px;
    margin-bottom: 40px;
    float:left;
}
.footer .copyright p {
    color:  #6c6c6c;
    font-size: 12px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 26px;/* Приближение из-за подстановки шрифтов */
    text-align: left;
}
.footer .social {
    margin-left: 158px;
    margin-top: 30px;
    float: left;
}
.footer .social a {
    text-decoration: none;
    color: #6c6c6c;
}
.footer .social a:hover {
    color: black;
}
.footer .links {
    float: left;
    margin-left: 190px;
    margin-top: 35px;
    margin-bottom: 40px;
}
.footer .links a {
    text-decoration: none;
    color:  #6c6c6c;
    font-size: 12px;
    font-weight: 700;
    line-height: 26px;
    text-align: right;
}
.prodheader {
    background-color:  #f5f5f5;
    height: 360px;
}
.prodheader h1 {
    font-family: Montserrat;
    color:  #212121;
    font-size: 62px;
    font-weight: 100;
    line-height: 72px;
    text-align: left;
    margin-left: 101px;
    margin-top: 180px;
}
.prodcatalog {
    width: 1180px;
    margin: 0 auto;
}
.navig {
    margin-top: 105px;
    margin-bottom: 72px;
}
.navig a {
    display: inline-block;
    text-decoration: none;
    font-family: Montserrat;
    color:  #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    text-align: left;
    padding-right: 8px;
    padding-left: 8px;
    padding-bottom: 7px;
}
.navig a:hover {
    color:  #212121;
    font-size: 18px;
    font-weight: 700;
    text-align: left;
}
.navig .one,
.navig .two,
.navig .three
{
    border-bottom: 1px solid #000;
    float:left;
}
.navig .one:hover,
.navig .two:hover,
.navig .three:hover {
    border-bottom: 3px solid black;
} 
.cat {
    float: left;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
}
.prodcatalog .loading {
    clear:both;
    width: 42px;
    margin: 0 auto;
    margin-bottom: 140px;
    padding-top: 61px;
}
.footer .subscribe input[type='button']:active {
    background-color: gray;
}
.detailsheader {
    height: 119px;
}
.detailsheader .logo {
    margin-left: 98px;
    padding-top: 63px;
    float: left;
}
.detailsnavig {
    height: 70px;
    background-color:  #f4f4f4;
    
}
.detailsnavig a {
    display: inline-block;
    text-decoration: none;
    color:  #6c6c6c;
    font-size: 17.99px;
    font-weight: 700;
    text-align: center;
    transform: scaleY(1.0006);
    margin-top: 28px;
    margin-right: 20px;
}
.detailsnavig a:first-child {
    margin-left: 360px;
}
.detailsnavig a:hover {
    color:  #212121;
    font-size: 17.99px;
    font-weight: 700;
    text-align: center;
}
.detailsprod {
    clear:both;
    height: 800px;
}
.detailsprod .chair {
    width: 45%;
    margin-top: 72px;
    margin-left: 98px;
    float: left;
}
.detailsprod .chair .chairdemo a {
    display: inline-block;
}

.detailsprod .chair .chairdemo {
    margin-left: 150px;
    margin-top: 11px;
}
.detailsprod .chair img[alt='chair2'] {
    margin-right: 10px;
}
.chairtxt {
    padding-top: 119px;
    width: 45%;
    float: right;
}
.chairtxt h3 {
    color:  #212121;
    font-size: 35.98px;
    font-weight: 700;
    text-align: center;
    transform: scaleY(1.0005);
}
.chairtxt h6 {
    color:  #e53935;
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
    transform: scaleY(1.0005);
}
#price {
    text-align: center;
    font-family: 'Gotham';
    color: #212121;
    font-size: 72px;
    font-weight: 300;
}
#price span:before {
    content: '$ ';
    color:  #212121;
    font-size: 36px;
    font-weight: 300;
}
#price span:after {
    content: '/sq';
    color: #212121;
    font-size: 36px;
    font-weight: 300;}
.chairtxt .orderus {
    margin: 0 auto;
    margin-top: 31px;
    margin-bottom: 49px;
    background:  #f44336;
    box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
    width: 510px;
    height: 71px;
    border-radius: 22px;
}
.chairtxt a {
    display: block;
    width: 510px;
    height: 45px;
    text-decoration: none;
    color:  #ffffff;
    font-size: 21.99px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    transform: scaleY(1.0005);
    padding-top: 28px;
}
.chairtxt a:hover {
    width: 510px;
    height: 45px;
    border-radius: 22px;
    background: #f44336 url('img/whitearrow.png') no-repeat 344px 27px;
}
.chairtxt .txt {
    color:  #212121;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    text-align: left;
    transform: scaleY(1.0005);
    margin-bottom: 15px;
}
.detailrelated h1 {
    float:left;
    color:  #212121;
    font-size: 36px;
    font-weight: 700;
    text-align: left;
    margin-left: 100px;
    margin-bottom: 71px;
    margin-top: 145px;
    
}
.detailrelated h3 {
    width: 172px;
    margin-right: 77px;
    margin-top: 145px;
    float:right;
}
.detailrelated a h3{
    text-decoration: none;
    color:  #212121;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
}
.detailrelated a:hover h3 {
    background: url(img/arrowdetails.png) no-repeat 140px 5px; 
}
.related {
    clear: both;
    margin-left: 98px;
    margin-top: 71px;
}
.detailrelated {
    margin-bottom: 120px;
}
.detailrelated .related img {
    margin-left: 15px;
    margin-right: 15px;
}
.contactheader {
    height: 360px;
    background-color:  #f5f5f5;
}
.contactheader .logo {
    margin-top: 63px;
    margin-left: 98px;
    float: left;
}
.contactheader .H1 {
    clear: both;
    padding-top: 140px; 
    margin-left: 101px;
}
.contactheader h1 {
    color:  #212121;
    font-size: 62px;
    font-weight: 100;
    line-height: 72px;
    text-align: left;
}
.contactbody {
    height: 563px;
}
.contacty {
    float:left;
    border-width: 1px;
    border-color:  #9c9c9c;
    border-style: solid;
    background-color:  #ffffff;
    opacity: 0.9;
    width: 368px;
    height: 368px;
    text-align: center;
    margin-top: 98px;
    margin-right: 2.2%
}
.contacty:first-child {
    margin-left: 7%;
}
.contacty img[alt='geo'] {
    margin-top: 13%;
    margin-bottom: 5%;
}
.contacty h4 {
    color:  #212121;
    font-size: 21.91px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    transform: scaleX(1.0041);
    margin-bottom: 2%;
}
.contacty h6 {
    color:  #6c6c6c;
    font-size: 14px;
    font-weight: 700;
    line-height: 20.082px;
    text-align: center;
}
.contacty p {
    color:  #212121;
    font-size: 14px;
    font-weight: 700;
    line-height: 20.082px;
    text-align: center;
    margin-bottom: 3%;
}
.contacty .adress {
    color:  #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    line-height: 20.082px;
    text-align: center;
    transform: scaleX(1.0041);
}
